---
layout: single
permalink: /
header:
  image: /assets/images/header.jpg
---

 <img src="/assets/images/header.jpg" alt="Welcome on board!"> 

<LineBreak/>

Welcome on board!

You'll find on this blog different kind of things, but mostly blog posts and some pictures. 
My interests go from food to science popularisation, from broad science questions to gardening practices, without any logical link between those different topics.
There is also some information on my research that I try to keep updated.
