---
layout: single
permalink: /
header:
  image: /assets/images/header.jpg
---

 <img src="/assets/images/header.jpg" alt="Welcome on board!"> 



<h2>Welcome on board!</h2>

<p>You'll find on this blog different kind of things, but mostly blog posts and some pictures. </p>
<p>My interests go from food to science popularisation, from broad science questions to gardening practices, without any logical link between those different topics. </p>
<p>I hope you'll enjoy reading some bits as much as I painfully enjoyed writing them!</p>

<p>You'll also find some information on my research that I try to keep updated. <p/>

