---
layout: single
permalink: /
---
<!-- header:   image: /assets/images/header.jpg -->

      <img src="/assets/images/header.jpg" alt="Welcome!"> <br />

<br />

<p align="justify">Hi, welcome to my website! <br />
I just started a postdoc at the <a href="https://www.cefe.cnrs.fr/fr/">Centre d'Ecologie Fonctionnelle et Evolutive (CEFE)</a>, in Montpellier, France to work on signal design in darters (Etheostoma spp.) within the framework of a collaboration between <a href="https://www.mendelsonlab.net/">Tamra Mendelson</a> and <a href="https://www.eevcom-montpellier.com/julien-renoult.html">Julien Renoult</a>. The idea is to use machine learning methods and neural networks to investigate the evolution of pattern preferences and signal design framed in the perspective of the <a href="https://en.wikipedia.org/wiki/Information_theory/">information theory</a>/efficient coding hypothesis. <br />
Before that, I completed my PhD studies in cognitive neuroscience at the <a href="http://cerco.cnrs.fr/">Brain and Cognition Research Center (CerCo)</a>, in Toulouse, France. <br />
My PhD project aimed to provide a better understanding of how the visual system in primates processes binocular disparities (underlying depth perception) in space and time. I also investigated the relationship between the 3D properties of the environment and neural responses. I mostly conducted functional neuroimaging <a href="https://en.wikipedia.org/wiki/Functional_magnetic_resonance_imaging">(fMRI)</a> studies in macaque, and I collected <a href="https://en.wikipedia.org/wiki/Psychophysics">psychophysics</a> measurements in human and macaque to give insight into the link between visual perception, natural statistics, and brain activity.<br />
<br />
In a more general way, I am interested in understanding and studying how the sensory systems and cognitive functions of different species are shaped by or adapted to the environment in which they evolve (sensory and cognitive ecology). <br />
<br />
As a future researcher / young scientist, I am concerned by how science is done, may it be regarding empirical methods, statistical analyses, access to material and data, or growing competition among scientists. 
In an attempt to foster discussions on slow and open science, I am part of a recently formed collective with other young researchers: <a href="https://twitter.com/SlowpenScience/">Slowpen Science</a>. At a bigger scale, I became an ambassador for the Center for Open Science (<a href="https://cos.io/our-communities/become-ambassador/">COS</a>). <br/>  
I am also interested in ethics, scientific scepticism, and critical thinking and believe that we should teach people about those topics much more than it is currently done. <br />
<br />
Another aspect of science that matters to me is to share it with the general public. I try to get involved in actions and events promoting the popularisation of science (articles and talks to the great audience, <a href="https://pintofscience.fr/mondial/">Pint of Science</a>, <a href="http://www.esof.eu/en/">ESOF</a>, <a href="https://www.echosciences-sud.fr/">Echosciences</a>..) and I am also part of <a href="http://incognu.fr/">InCOGnu</a>, an organisation gathering students and young researchers in cognitive science.<br />
<br />
Finally, because there is more than just hard working in life, I like to take care of my plants and to spend time thinking about the different forms of urban agriculture. And how the natural environment and ecological concerns can play a role in urbanism and our everyday life.<br />

<!-- The aim of the blog section is to address those different topics in a very informal way, sharing my thoughts and discussing different points of view. -->
<br />

You'll find additional details in the different sections above! </p>
